* {
    border-radius: 0 !important;
}
html, body {
    width:100%;
    height:100%;
    margin: 'auto';
}
.modal-loading {
    margin:auto;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    text-align: center;
    top: 100px;
}
#root, #base {
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-bottom: 50px;
}
#container {
    width:100%;
    height:100%;
}
